/* html {
  scroll-behavior: smooth;
} */

.green {
  color: #76c0b3;
}

.purple {
  color: #bd99f8;
}
/* color */

#header {
  position: fixed;
  left: 20px;
  top: 20px;
  width: 100%;
  text-align: center;
  font-family: "GmarketSans";
  z-index: 3;
}
#header h1 {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}
/* header */

#mainCont {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1543083115-638c32cd3d58?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632)
      center center no-repeat,
    linear-gradient(233deg, #e56420, #c22525, #3d9c31, #37bbde);
  background-size: cover;
  z-index: 2;
  background-blend-mode: hard-light;
  animation: hue-rotate 8s linear infinite;
}
@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }

  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
#mainCont::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
}
#mainCont .mainContText {
  font-size: 8vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Orbitron";
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
  text-align: center;
  user-select: none;
  pointer-events: none;
}
#mainCont .mainContText .t1 {
  color: #94feea;
}
/* mainCont */
#sec1-2 {
  margin-bottom: 10vw;
}
.sec2Text {
  color: #fff;
  text-align: center;
  padding: 7.5vw 0;
  font-size: 2vw;
  font-weight: 300;
  font-family: "GmarketSans";
  line-height: 1.6;
}
.sec2About {
  position: relative;
  margin-top: 5vw;
  margin-bottom: 15vw;
  height: 10vw;
}
.sec2AboutBg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 25vw;
  height: 25vw;
  background: url(../img/bird.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 50%;
}
/* sec2 */

#banner {
  background: url(https://images.unsplash.com/photo-1641579281152-e5d633aa3775?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632)
      center center no-repeat,
    linear-gradient(233deg, #e56420, #c22525, #3d9c31, #37bbde);
  background-size: cover;
  width: 100%;
  height: 23vw;
  background-blend-mode: hard-light;
  animation: hue-rotate 8s linear infinite;
  margin-bottom: 10vw;
}

.reveal {
  visibility: hidden;
  position: relative;
}

#banner.banner2 {
  background: url(../img/banner02.jpg) center center no-repeat;
}

.bannerTitle {
  color: #76c0b3;
  font-size: 8.5vw;
  text-transform: uppercase;
  font-family: "Orbitron";
  text-align: center;
  padding-top: 6vw;
}

/* banner */

#contents {
  font-family: "GmarketSans";
  padding-bottom: 5vw;
  color: #fff;
  margin-bottom: 10vw;
  height: 50vw;
}
#contents .contBox {
  position: relative;
  opacity: 1;
}
#contents .contInfo {
  margin-top: 20vw;
}
.ContLeft .contBox {
  margin-left: 10vw;
  z-index: 1;
}
.ContRight .contBox {
  margin-left: 40vw;
  z-index: 1;
}
.ContLeft .siteImg {
  width: 44vw;
  height: 28vw;
  border-radius: 6.5vw;
  border: 0.6vw solid #76c0b3;
  z-index: 1;
}
.ContRight .siteImg {
  width: 44vw;
  height: 28vw;
  background-size: cover;
  border-radius: 6.5vw;
  border: 0.6vw solid #4c348e;
  position: relative;
}
#contents .siteImg.img1 {
  background: url(../img/contstan.jpg) no-repeat;
  background-size: cover;
}
#contents .siteImg.img2 {
  background: url(../img/contrespon.jpg) no-repeat;
  background-size: cover;
}
#contents .siteImg.img3 {
  background: url(../img/contphp.jpg) no-repeat;
  background-size: cover;
}
#contents .siteImg.img4 {
  background: url(../img/contreact.jpg) no-repeat;
  background-size: cover;
}
#contents .siteImg .view {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  left: 39%;
  top: 33%;
  text-align: center;
  padding-top: 5vw;
  font-size: 2.5vw;
  border: 0.5vw solid #76c0b3;
}
#contents .siteImg .view span {
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url(../img/right.svg) no-repeat center center;
  background-size: cover;
  width: 2.5vw;
  height: 3vw;
}
#contents.ContRight .siteImg .view {
  left: 38%;
  top: 30%;
  border: 0.5vw solid #4c348e;
}
#contents .contBox .siteDesc {
  padding: 4vw;
}
.siteDesc .siteTitle {
  font-size: 2.5vw;
  padding-bottom: 1vw;
}
#contents .contBox .siteDesc .siteInfo p {
  padding-bottom: 1vw;
  font-size: 1.35vw;
  font-weight: 300;
  line-height: 1.6;
}
#contents button {
  border: none;
  padding: 0.8vw 2.4vw;
  font-size: 1.35vw;
  border-radius: 3vw;
  margin-right: 0.5vw;
  font-family: "GmarketSans";
  font-weight: 300;
  color: #fff;
}
.ContLeft .btn-animate {
  position: relative;
  z-index: 1;
  border: none;
  /* box-shadow: 0px 16px 47px -15px #76c0b3; */
  background: none;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  outline: none;
  transform: translateZ(0);
}

.ContLeft .btn-animate span {
  position: relative;
  z-index: 2;
}

.ContLeft .btn-animate:before,
.ContLeft .btn-animate:after {
  content: "";
  z-index: -1;
  background: linear-gradient(100deg, #76c0b3, #003f77);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ContLeft .btn-animate:after {
  background: linear-gradient(100deg, #4c348e, #9e158f);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.1s;
}

.ContLeft .btn-animate:hover {
  box-shadow: 0px 16px 47px -15px #003f77;
}

.ContLeft .btn-animate:hover:after {
  transform: scaleY(1);
  transform-origin: bottom;
  transition-delay: 0s;
}

.ContLeft .btn-animate:active {
  transform: translateY(4px) translateZ(0);
  box-shadow: 0px 8px 10px -6px #003f77;
}

.ContRight .btn-animate {
  position: relative;
  z-index: 1;
  border: none;
  box-shadow: 0px 16px 47px -15px #590b9b;
  background: none;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  outline: none;
  transform: translateZ(0);
}

.ContRight .btn-animate span {
  position: relative;
  z-index: 2;
}

.ContRight .btn-animate:before,
.ContRight .btn-animate:after {
  content: "";
  z-index: -1;
  background: linear-gradient(100deg, #4c348e, #9e158f);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ContRight .btn-animate:after {
  background: linear-gradient(100deg, #003f77, #76c0b3);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.1s;
}

.ContRight .btn-animate:hover {
  box-shadow: 0px 16px 47px -15px #003f77;
}

.ContRight .btn-animate:hover:after {
  transform: scaleY(1);
  transform-origin: bottom;
  transition-delay: 0s;
}

.ContRight .btn-animate:active {
  transform: translateY(4px) translateZ(0);
  box-shadow: 0px 8px 10px -6px #003f77;
}
#contents .contBox .siteDesc .htmlIcon {
  background: url(../img/html.jpg) no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 3.5vw;
  height: 3.5vw;
  padding: 0;
  position: relative;
  top: 1.45vw;
  margin-right: 0.3vw;
}
#contents .contBox .siteDesc .cssIcon {
  background: url(../img/css.jpg) no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 3.5vw;
  height: 3.5vw;
  padding: 0;
  position: relative;
  top: 1.45vw;
  margin: 0;
}
#contents .contBox .bgText {
  position: absolute;
  left: -50vw;
  top: -16vw;
  font-size: 20vw;
  opacity: 0.15;
  font-family: "Orbitron";
  text-transform: uppercase;
  white-space: nowrap;
  z-index: -1;
}

.ContLeft .contBox .bgText {
  left: -20vw !important;
}
.ContRight .contBox .bgText {
  left: -40vw;
}
@media (max-width: 1200px) {
  #contents .contInfo {
    display: flex;
    margin: 0;
  }
  .ContRight .contInfo {
    flex-direction: row-reverse;
  }
  #contents .siteImg {
    width: 50vw;
    height: 36vw;
    border-radius: 10vw;
  }
  .ContRight .siteImg {
    margin-right: 3vw;
  }
  #contents .contBox {
    margin-left: 5vw;
  }
  #contents.ContRight .contBox {
    margin-left: 0;
  }
  #contents .siteDesc {
    margin-left: 0;
    margin-right: 3vw;
    margin-top: 10vw;
    padding: 0;
  }
  .ContRight .siteDesc {
    margin-right: 0;
  }
  .siteDesc .siteTitle {
    font-size: 3vw;
    padding-bottom: 2vw;
  }
  #contents .contBox .siteDesc .siteInfo p {
    font-size: 1.5vw;
    padding-bottom: 1vw;
    margin-bottom: 0;
  }
}
@media (max-width: 800px) {
  #contents .contBox {
    margin-left: 15vw;
  }
  #contents.ContRight .contBox {
    margin-left: 15vw;
  }
  #contents .contInfo {
    display: block;
  }
  #contents .siteImg {
    width: 60vw;
    height: 44vw;
  }
  #contents .siteDesc {
    margin-top: 0;
    margin-left: -20vw;
    text-align: center;
  }
  #contents .contBox .siteDesc {
    padding: 0;
  }
  .siteDesc .siteTitle {
    font-size: 4vw;
    padding-top: 4vw;
  }
  #contents .contBox .siteDesc .siteInfo p {
    font-size: 2.5vw;
    padding-top: 1vw;
    padding-bottom: 2vw;
  }
  #contents button {
    font-size: 3vw;
  }
  #contents .contBox .siteDesc .htmlIcon {
    width: 4.9vw;
    height: 4.9vw;
  }
  #contents .contBox .siteDesc .cssIcon {
    width: 4.9vw;
    height: 4.9vw;
  }
}
@media (max-width: 600px) {
  #contents .contBox .siteDesc .siteInfo p {
    font-size: 2.2vw;
  }
}
/* siteCont */

#scriptCont {
  height: 60vw;
  padding-left: 9vw;
}

#scriptCont ul li {
  list-style: none;
  position: relative;
}

#scriptCont ul li img {
  position: absolute;
  left: 20%;
  top: 0;
  transform: translate(-50%);
  width: 25vw;
  opacity: 0;
}

#scriptCont ul li p {
  text-decoration: none;
  font-size: 5.5vw;
  text-transform: uppercase;
  font-family: "Orbitron";
  color: #76c0b3;
  line-height: 1.3;
}

@media (max-width: 800px) {
  #scriptCont {
    padding-left: 0;
  }

  #scriptCont ul li {
    text-align: center;
  }

  #scriptCont ul li a {
    font-size: 7vw;
  }
}
/* scriptCont */

#effectCont {
  display: flex;
  justify-content: space-evenly;
  font-family: "GmarketSans";
  margin-bottom: 30vw;
  color: #fff;
}

#effectCont .effectCont {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#effectCont .effectCont.center {
  margin-top: 15vw;
}

#effectCont .effectCont .effectBox {
  margin: 1vw 1vw 2vw 1vw;
}

#effectCont .effectImg img {
  width: 25vw;
  border-radius: 1vw;
  object-fit: cover;
}

#effectCont .effectCont .effectTitle {
  font-size: 2vw;
  margin-top: 1vw;
  margin-bottom: 1.5vw;
}

#effectCont .effectCont .effectTitle::after {
  content: "";
  display: inline-block;
  background: url(assets/img/arrow.jpg) no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 1.7vw;
  height: 1.7vw;
  vertical-align: -0.2vw;
  margin-left: 0.5vw;
}

#effectCont .effectCont .effectDesc {
  font-size: 1.2vw;
  font-weight: 300;
  line-height: 1.5;
}

@media (max-width: 800px) {
  #effectCont {
    flex-direction: column;
    align-items: center;
    margin-top: 10vw;
  }

  #effectCont .effectImg img {
    width: 50vw;
    height: 40vw;
    border-radius: 6vw;
    border: 1vw solid #76c0b3;
    object-fit: cover;
  }

  #effectCont .effectCont {
    text-align: center;
  }

  #effectCont .effectCont .effectTitle {
    font-size: 4vw;
    margin-top: 2vw;
    margin-bottom: 1.5vw;
  }

  #effectCont .effectCont .effectTitle::after {
    width: 3.4vw;
    height: 3.4vw;
    margin-left: 1vw;
  }

  #effectCont .effectCont .effectDesc {
    font-size: 2.4vw;
    white-space: wrap;
  }

  #effectCont .effectCont.center {
    margin-top: 0;
  }
}

/* effectCont */

#studyCont {
  background: #000;
  height: 52vw;
  /* margin-bottom: 1vw; */
}

#studyCont .card {
  perspective: 1000px;
  display: flex;
}
.card .front,
.card .back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 1s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.card img {
  width: 100%;
  transition: all 0.6s ease 0.2s;
  border: 7px solid #060c1f;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
.card .front img {
  border-color: #fff;
}
.card .back img {
  border-color: #041135;
}
.card .front {
}
.card .back {
  transform: rotateY(-180deg);
}
.card figcaption {
  position: absolute;
  left: 50%;
  top: 50%;
  backface-visibility: hidden;
  transform: translate(-50%, -50%) translateZ(100px);
  color: #fff;
  font-size: 20px;
  display: block;
  text-align: center;
}
.card figcaption h3 {
  min-width: 200px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 24px;
}
.card figcaption p {
  font-weight: 200;
  padding-top: 5px;
}
.card img {
  width: 20vw;
  height: 20vw;
}
.card:hover .front {
  transform: rotateY(180deg);
}
.card:hover .back {
  transform: rotateY(0);
}

/* #studyCont ul li {
  background: #262628;
  list-style: none;
  color: #76c0b3;
  font-size: 3vw;
  border: none;
  min-width: 20vw;
  height: 20vw;
  margin: 2vw;
  border-radius: 1vw;
  text-align: center;
  perspective: 1000px;
  transform-style: preserve-3d;
  position: relative;
}
#studyCont ul li .view {
  position: absolute;
  transition: transform 0.5s linear;
  backface-visibility: hidden;
  left: 50%;
  top: 50%;
  min-width: 20vw;
  height: 20vw;
  user-select: none;
  pointer-events: none;
}
#studyCont ul li .view.front {
  z-index: 10;
  transform: translate(-50%, -50%) rotateY(0deg);
}
#studyCont ul li .view.front img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1vw;
}
#studyCont ul li .view.back {
  transform: rotateY(180deg);
  left: 0%;
  top: 0%;
}
#studyCont li:hover .view.front {
  transform: rotateY(-180deg);
}
#studyCont li:hover .view.back {
  transform: rotateY(0deg);
  left: 0%;
  top: 0%;
}
#studyCont li:hover .view.back img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1vw;
}

#studyCont ul li a {
  display: inline-block;
  color: #76c0b3;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Orbitron";
}
#studyCont ul li a.view.back {
  margin: 0;
  padding: 0;
}

#studyCont ul:nth-child(2) {
  margin-left: 10vw;
}

/* #studyCont ul:nth-child(3) {
  margin-left: -35vw;
}

#studyCont ul:nth-child(4) {
  margin-left: -60vw;
}

@media (max-width: 800px) {
  #studyCont {
    height: 60vw;
  }

  #studyCont ul li {
    font-size: 3.5vw;
    min-width: 24vw;
    height: 24vw;
    margin: 1.5vw;
  }

  #studyCont ul li a {
    margin-top: 10vw;
  }
} */
*/

/* studyCont */

#contact {
  width: 70vw;
  background: #222;
  height: 40vw;
  border-radius: 2vw;
  margin: auto;
  margin-bottom: 20vw;
  color: #fff;
}

#contact .contact {
  margin-top: 15vw;
  display: flex;
  align-items: center;
  width: 100%;
}

#contact .contactImg {
  width: 40%;
  margin-left: 5vw;
  margin-top: 5vw;
}

#contact .contactImg img {
  height: 30vw;
  border-radius: 2vw;
  background-size: cover;
}

#contact .contactInfo {
  width: 60%;
  margin-left: 6vw;
  margin-top: 6vw;
}

#contact .contactInfo .info {
  margin-bottom: 1vw;
}

#contact .contactInfo h3 {
  font-size: 3vw;
  font-weight: 700;
  color: #76c0b3;
  font-family: "Orbitron";
  margin-bottom: 1vw;
  text-transform: uppercase;
}

#contact .contactInfo p {
  font-size: 2vw;
  font-weight: 500;
  font-family: "GmarketSans";
}

#contact .contactInfo .name {
  font-size: 2.5vw;
}

/* contact */
#send {
  text-align: center;
  font-family: "GmarketSans";
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 40vw;
  padding-bottom: 10vw;
}

#send h4 {
  font-weight: 300;
  font-size: 2vw;
  margin-bottom: 3vw;
}

#send h3 {
  font-weight: 700;
  font-size: 3vw;
  margin-bottom: 4vw;
}

#send a {
  font-size: 1.5vw;
  margin-bottom: 3vw;
  padding: 1vw 2vw;
  background: #76c0b3;
  border-radius: 100px;
  text-decoration: none;
  color: #000;
}

#send .sendDesc {
  white-space: nowrap;
  margin-left: 5vw;
  margin-right: 5vw;
}

#send img {
  width: 15vw;
  height: 15vw;
  border-radius: 10%;
  position: relative;
  border: 0.3vw solid #fff;
}

#send .small1 {
  position: absolute;
  left: 1.5vw;
  bottom: 12.5vw;
  width: 10vw;
  height: 10vw;
  z-index: 1;
  border-radius: 0;
  border: 0;
}

#send .small2 {
  position: absolute;
  right: 1.5vw;
  top: 2.5vw;
  width: 10vw;
  height: 10vw;
  border-radius: 0;
  border: 0;
}

/* send */
