@import url("https://fonts.googleapis.com/css?family=Inconsolata");

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF9AE0;
  font-family: "Inconsolata", monospace;
}

.window {
  min-width: 360px;
  min-height: 220px;
  background-color: #c7c7c7;
  padding: 4px;
  border-left: 2px solid #FCFCFC;
  border-top: 2px solid #FCFCFC;
  border-right: 2px solid #2A2A2A;
  border-bottom: 2px solid #2A2A2A;
}

.title-bar {
  background-color: #000080;
  padding: 4px;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.title-bar>.minimize,
.title-bar>.maximize,
.title-bar>.close {
  width: 26px;
  height: 22px;
  background-color: #c7c7c7;
  margin-left: 4px;
  border-left: 2px solid #FCFCFC;
  border-top: 2px solid #FCFCFC;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.title-bar>.minimize:hover,
.title-bar>.maximize:hover,
.title-bar>.close:hover {
  background-color: #bababa;
  border-left: 2px solid #2A2A2A;
  border-top: 2px solid #2A2A2A;
  border-right: 2px solid #FCFCFC;
  border-bottom: 2px solid #FCFCFC;
}

.title-bar>.minimize {
  align-items: flex-end;
}

.title-bar>.minimize>.symbol {
  width: 60%;
  height: 3px;
  background-color: #000000;
  margin-bottom: 2px;
}

.title-bar>.maximize>.symbol {
  width: 70%;
  height: 80%;
  border: 2px solid #000000;
  border-top-width: 4px;
}

.title-bar>.close>.symbol {
  width: 70%;
  height: 3px;
  background-color: #000000;
  transform: rotate(45deg);
}

.title-bar>.close>.symbol::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000000;
  transform: rotate(90deg);
}

.menu-bar>span {
  padding: 8px;
  display: inline-block;
  cursor: pointer;
}

.menu-bar>span::first-letter {
  text-decoration: underline;
}

.menu-bar>span:hover {
  background-color: #bababa;
}

.content-container {
  border-left: 2px solid #2A2A2A;
  border-top: 2px solid #2A2A2A;
  border-right: 2px solid #FCFCFC;
  border-bottom: 2px solid #FCFCFC;
}

.content-container>.content {
  display: flex;
  height: 260px;
}

.content-container>.content>.main,
.content-container>.content>.scroll-left {
  height: 100%;
}

.content-container>.content>.main {
  width: calc(100% - 26px);
}

.content-container>.content>.scroll {
  width: 26px;
}

.scroll {
  background-color: #D7D7D7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.scroll>.progress {
  width: 24px;
  height: 70%;
  cursor: pointer;
  border-left: 2px solid #FCFCFC;
  border-top: 2px solid #FCFCFC;
  border-right: 2px solid #2A2A2A;
  border-bottom: 2px solid #2A2A2A;
  background-color: #c7c7c7;
}

.scroll>.progress:hover {
  background-color: #bababa;
}

.scroll>.start,
.scroll>.end {
  width: 24px;
  height: 22px;
  position: relative;
  border-left: 2px solid #FCFCFC;
  border-top: 2px solid #FCFCFC;
  border-right: 2px solid #2A2A2A;
  border-bottom: 2px solid #2A2A2A;
  background-color: #c7c7c7;
}

.scroll>.start:hover,
.scroll>.end:hover {
  background-color: #bababa;
  border-left: 2px solid #2A2A2A;
  border-top: 2px solid #2A2A2A;
  border-right: 2px solid #FCFCFC;
  border-bottom: 2px solid #FCFCFC;
}

.scroll>.start::after,
.scroll>.end::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 6px;
  left: 4px;
  border-top: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #000000;
}

.scroll>.end::after {
  transform: rotate(180deg);
}

.scroll.-row {
  flex-direction: row;
}

.scroll.-row>.progress {
  width: 30%;
  height: 24px;
}

.scroll.-row>.start::after {
  transform: rotate(-90deg);
}

.scroll.-row>.end::after {
  transform: rotate(90deg);
}